*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.header{
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fcf3ff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.header a{
    color: #373840;
}
.header img{
    height: 36px;
}
.header a{
    line-height: 20px;
}
.header-title{
    width: 100%;
    border-bottom:1px solid rgba(0,0,0,.3);
    position: fixed;
    top: 3.5rem;
    left: 0;
    background: #fff;

}
.header-title .scroolY{
    transition: all .4s ease;
    height: 100%;
    display: flex;
    overflow-x: scroll;
}
.header-title .scroolY a{
    margin: 0 15px;
    color: #373840;
    line-height: 24px;
    flex-shrink: 0;
}
.header-title .scroolY a.active{
    font-weight: 600;
    color: #3fa7ea;
    border-bottom: 2px solid #3fa7ea;
}

.lis-item{
    height: 100px;
    width: 95%;
    margin: 10px auto 0;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lis-img{
    height: 90%;
    width: 30%;
}
.lis-text{
    flex: 1;
}

iframe{
    width: 100%;
    height: 100vh;
    border: none;
}

html,body{
    width: 100%;
    height: 100%;
}
.list-wrap{
    margin-top: 5.8rem;
}

.loader-more{
    text-align: center;
    line-height: 3;
    color: #3fa7ea;
}